aiofiles
aiogram==3.17.0
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
colorama
dotenv
frozenlist
greenlet
idna
iniconfig
magic-filter
multidict
packaging
pluggy
propcache
pydantic
pydantic_core
pytest
pytest-asyncio
python-dotenv
redis
SQLAlchemy
typing-inspection
typing_extensions
yarl